body{
    background-color: rgb(243, 243, 243);
}

.maindiv
{
    display: flex;
    margin: 30px;
    align-items: center;
    padding: 30px;
    justify-content: center;
    height: 100hv;

}

.logo
{
    color: rgb(9, 114, 201);
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.firstp
{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}


.logodiv
{

    padding: 20px;
    display: block;
    width: 50%;
}

.fromdiv
{
    padding: 20px;
    box-shadow: 0px 1px 8px rgba(128, 128, 128, 0.363);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 50%;
}

.inputbox
{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 10px ;
    padding: 10px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.384);
    
}

.forget
{
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.subbtn
{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 97%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 20px;
    font-size: 15px;
    background-color: rgb(0, 81, 255);
    color: white;
    border: none;
    border-radius: 5px;

}

.createac
{
    display: flex;
    justify-content: center;
    margin: auto;
}